@import "https://fonts.googleapis.com/css?family=Nunito";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #B2B2B2;
  background-color: #373737;
  font-family: Nunito;
}

h1, h2, h3, h4 {
  font-family: Nunito;
  margin:0;
}
p, form {
  font-family: arial, sans-serif;
}
#thisform {
  display: flex;
  flex-direction: column;
}
#thisform div {
  padding: 5px 0;
}
#thisform div label{
  margin-right: 7px;
}
#thisform div input[type="number"]{
  width: 40px;
}
a {
  text-decoration: none;
  color: #C0B283;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid #6C756B;
}
td, th {
  border: 1px solid #6C756B;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #e2e2e2;
}

.red {
  color: #B9090B;
}

.green {
  color: #1ba74d;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #182029;
  margin: auto;
  flex-flow: row wrap;
}

.nav-bar a {
  color: #C0B283;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}

.socialMedia {
  margin-right: 2rem;
}

.main {
  padding: 0 0 20px 20px;
}

.main__side-left {

}


.button {
  font-family: arial, sans-serif;
  background-color: #e2e2e2;
  border: 1px solid #999999;
  font-size: 10px;
  padding: 6px;
}
.yes {
  font-family: arial, sans-serif;
  background-color: #6DD1A3;
  border-radius: 2px;
  border: 1px solid #999999;
  font-size: 11px;
  font-weight: bold;
  padding: 7px;
  cursor: pointer;
}
.yes:hover {background-color: #9dff00;}
.no {
  font-family: arial, sans-serif;
  background-color: #d36969;
  border-radius: 2px;
  border: 1px solid #999999;
  font-size: 11px;
  font-weight: bold;
  padding: 7px;
  cursor: pointer;
}
.no:hover {background-color: #a58787;}
.check {
  font-family: arial, sans-serif;
  background-color: #59A5D8;
  border: 1px solid #999999;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  padding: 7px;
  cursor: pointer;
}
.check:hover {background-color: #96dc95;}
.link {
  font-family: Consolas, monospace;
  margin: auto;
  font-size: 13px;
  color: #6C756B;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  font-weight: bold;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.collect {
  font-family: Consolas, monospace;
  color: red;
  font-size: 14px;
  font-weight: bold;
}