table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid #6c756b;
  margin: 1rem 0;
  width: 100%;
}

td,
th {
  border: 1px solid #6c756b;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #e2e2e2; */
  background-color: #545454;
}

table textarea {
  width: 100%;
}

table a {
  /* color: #9c0002; */
  color: #c0b283;
  width: 100%;
}

#filterInput {
  border: 1px solid #ddd;
  margin-left: 12px;
}

@media (max-width: 700px) {
  table {
    border: none;
  }

  tr {
    border: 1px solid #6c756b;
  }

  th {
    display: none;
    border: none;
  }

  td {
    display: block;
    border: none;
  }

  td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
  }
}
