table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid #6C756B;
  margin: 1rem 0;
}

td, th {
  border: 1px solid #6C756B;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #545454;
}

#myInput {
  border: 1px solid #ddd; /* Add a grey border */
  margin-left: 12px; /* Add some space below the input */
}